<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Detangle</h5>
        <gf-form-switch class="gf-form" label="Coupling & Cohesion" label-class="width-12"
                        checked="ctrl.panel.detangle.coupling" on-change="ctrl.refresh()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label="Diamond Pattern" label-class="width-12"
                        checked="ctrl.panel.detangle.diamondPattern" on-change="ctrl.refresh()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label="Maintainability Index" label-class="width-12"
                        checked="ctrl.panel.detangle.maintainabilityIndex" on-change="ctrl.refresh()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label="Quality Effort Estimation Index" label-class="width-12"
                        checked="ctrl.panel.detangle.qualityEffort" on-change="ctrl.refresh()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label="Percentile" label-class="width-12" checked="ctrl.panel.detangle.percentile"
                        on-change="ctrl.refresh()">
        </gf-form-switch>
        <div class="gf-form">
            <label class="gf-form-label width-12">Limit</label>
            <input type="number" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.limit"
                   placeholder="unlimited" ng-change="ctrl.refresh()" ng-model-onblur
                   bs-tooltip="'Number of Issues on the graph'" data-placement="right">
        </div>
    </div>
    <div class="section gf-form-group">
        <h5 class="section-heading">Sort</h5>
        <div class="gf-form">
            <label class="gf-form-label width-6">Order</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.detangle.sortingOrder"
                        ng-options="item.value as item.text for item in ctrl.sortingOrder" ng-change="ctrl.refresh()"> </select>
            </div>
        </div>
    </div>
    <div class="section gf-form-group">
        <h5 class="section-heading">Data</h5>
        <div class="gf-form">
            <label class="gf-form-label width-12">Metric</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.detangle.metric"
                        ng-options="item.value as item.text for item in ctrl.couplingMetrics"
                        ng-change="ctrl.refresh()"> </select>
            </div>
        </div>
        <div class="gf-form" ng-show="ctrl.panel.detangle.metric === 'cohesion'">
            <label class="gf-form-label width-12">Cohesion Method</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.detangle.cohesionCalculationMethod"
                        ng-options="item.value as item.text for item in ctrl.cohesionCalculationMethods"
                        ng-change="ctrl.refresh()"> </select>
            </div>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Target</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.detangle.target"
                        ng-options="item.value as item.text for item in ctrl.targetSelections"
                        ng-change="ctrl.refresh()"> </select>
            </div>
        </div>
        <div class="gf-form" ng-show="ctrl.panel.detangle.percentile">
            <label class="gf-form-label width-12">Percentile Interval</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.detangle.percentileInterval"
                        ng-options="item.value as item.text for item in ctrl.intervals" ng-change="ctrl.refresh()"> </select>
            </div>
        </div>
        <gf-form-switch ng-show="!ctrl.panel.detangle.percentile" class="gf-form" label="Is Interval" label-class="width-12"
                        checked="ctrl.panel.detangle.isInterval" on-change="ctrl.refresh()">
        </gf-form-switch>
        <div class="gf-form" ng-show="!ctrl.panel.detangle.percentile && ctrl.panel.detangle.isInterval">
            <label class="gf-form-label width-12">Interval</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select class="gf-form-input" ng-model="ctrl.panel.detangle.interval"
                        ng-options="item.value as item.text for item in ctrl.intervals" ng-change="ctrl.refresh()"> </select>
            </div>
        </div>
        <div class="gf-form" ng-show="ctrl.panel.detangle.percentile">
            <label class="gf-form-label width-12">Percentile Ranks</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.percentileRanks"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
        <gf-form-switch class="gf-form" label="Aggregated" label-class="width-12"
                        ng-show="ctrl.panel.detangle.isInterval || ctrl.panel.detangle.percentile"
                        checked="ctrl.panel.detangle.isAggregated" on-change="ctrl.refresh()">
        </gf-form-switch>
        <div class="gf-form">
            <label class="gf-form-label width-12">{{
                (ctrl.panel.detangle.isAuthorDashboard ? 'Min Committers per File' : 'Min Issues per File')}}</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.minIssuesPerFile"
                   placeholder="no limit" ng-change="ctrl.refresh()"
                   ng-model-onblur data-placement="right">
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">{{
                (ctrl.panel.detangle.isAuthorDashboard ? 'Min Files per Committer' : 'Min Files per Issue')}}</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.minFilesPerIssue"
                   placeholder="no limit" ng-change="ctrl.refresh()"
                   ng-model-onblur data-placement="right">
        </div>
        <div class="gf-form" >
            <label class="gf-form-label width-12">File Grouping By</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.fileGroup"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
    </div>
    <div class="section gf-form-group">
        <h5 class="section-heading">Filter</h5>
        <div class="gf-form">
            <label class="gf-form-label width-12">{{ctrl.panel.detangle.isAuthorDashboard ?
                'Committer Source Set' : 'Source Type'}}</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.sourceType"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">{{ctrl.panel.detangle.isAuthorDashboard ?
                'Committer Target Set' : 'Target Type'}}</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.targetType"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
        <div class="gf-form" ng-show="!ctrl.panel.detangle.isAuthorDashboard">
            <label class="gf-form-label width-12">Issue Title</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.issueTitle"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">File Exclude Filter</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.fileExcludeFilter"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Metric Range</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.metricRange"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
        <div class="gf-form" ng-show="!ctrl.panel.detangle.isAuthorDashboard">
            <label class="gf-form-label width-12">Author</label>
            <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.detangle.author"
                   ng-change="ctrl.refresh()" ng-model-onblur>
        </div>
    </div>
</div>
