<style type="text/css">

	.parcoords > canvas {
		font: 14px sans-serif;
		position: absolute;
	}
	.parcoords > canvas {
		pointer-events: none;
	}
	.parcoords text.label {
		cursor: default;
	}
	.parcoords rect.background:hover {
		fill: rgba(120,120,120,0.2);
	}
	.parcoords canvas {
		opacity: 1;
		transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
		-o-transition: opacity 0.3s;
	}
	.parcoords canvas.faded {
		opacity: 0.25;
	}
	.parcoords {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: white;
	}
</style>


<script src="/public/plugins/grafana-chord-panel/vendor/d3.js"></script>
<script src="/public/plugins/grafana-chord-panel/vendor/d3-scale-chromatic.min.js"></script>
<!--<script src="/public/plugins/grafana-parallel-coordinates-panel/vendor/d3.parcoords.js"></script>-->

<div class="graph-wrapper">
	<!--<div class="tooltip"  id="tooltip"></div>-->

	<!--<div class="caption-holder">-->
		<!--<svg class="caption" ></svg>-->
	<!--</div>-->

	<!--<div class="next-to-captions gf-form">-->

		<!--<input class="gf-form-input max-width-12 highlight"-->
			<!--bs-tooltip="'Find in the iris and highlight them.'"-->
			<!--data-placement="bottom"-->
			<!--placeholder="Highlight"-->
			<!--ng-model="ctrl.highlight_text"-->
			<!--ng-model-options="{debounce: 750}"-->
			<!--ng-change="ctrl.highlight()"  />-->

	<!--</div>-->
	<div  class="grafana-d3-parallel"></div>
	<!--<svg class="networkchart-panel full_width_height">-->
		<!--<text class="no-data" x="15" y="15" fill="red">No data points</text>-->
	<!--</svg>-->
	<button ng-click="ctrl.downloadScreenshot()">Save as PNG</button>

</div>
<div class="clearfix"></div>


